*{
    margin: 0;
    padding: 0;
    font-family: var(--c-base);
    box-sizing: border-box;
    
}

:root{
    --c-base:"poppins",san-serife;
    --c-primary:#022534;
    --c-second:#094f6e;
    --c-third:#96c7d5;
    --c-forth:#e4f5ff;

}

body{
    background-color: var(--c-primary);
    color: var(--c-forth);
}

.navbar  img{
    width: 45px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 20px;
    animation: logo 5s  0.5s infinite     ;
    
}

@keyframes logo{
    0%{
        transform:scale(0.5 ,0.5);
    }
    25%{
        transform: scale(1.1,1.1);
    }
    50%{
        transform: scale(0.8,0.8);
    }
    75%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(0.5,0.5);
    }
}

.navbar-img::after{
    transform: translateY(45deg);
    animation-duration: 0.5s;
}


.nav-text{
    font-size: 20px;
    color: var(--c-third) ;
    margin-left: 10px;
    
}

.nav-icon{
    color: aliceblue;
}


#navbar{
    z-index: 8;
    
}

#home{
    border-bottom: 1px solid black;
    background-color: var(--c-primary);   
    border-bottom-left-radius: 20px;
    padding: 1px;
    display:block;
    
    
}

.nav-text:hover{
    color: aliceblue ;
    transition: 1s ;
    transform: scale(1. ,1.);
    margin-left: 15px; 
    margin-right: 15px;
    background: transparent;
    box-shadow: 0 0 10px rgba(9, 243, 243, 0.2);
    border-radius: 20px;
    margin-top: 5px;
    
           
}

.navabar-text{
    text-align: center;
    align-items: end;
    margin-left: 10px;
    padding: 10px 10%;
}

/*-------Hero  setup---------*/

#hero{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.navbar-post{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.navbar-post img {
    width: 600px;
    margin-top: -70px;
    position: relative;
    display: block;
    height: 100%;
    border-radius: 15px;
    
}

.hero-title{
    font-family: var(--c-base);
    position: relative;
   top: 30%;
   left: 25%;
    
    text-align: center;
     
}

.hero-title span {
    color: var(--c-third);
}

.main-img{
    background: url(/img/backgroundplane.jpg);
}

.hero-title p {
    font-size: 25px;
}


.navbar-post img:hover {
    filter: drop-shadow(6px 6px 12px);
    transition: 0.8s;
    
  
}

.navbar-effect{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

/*-----about--------------------------*/

.sub-title{
    font-size: 26px;
    text-align: center;
    margin-top: 8px;
    font-weight: 600;
    flex-wrap: wrap;
}

.about-text{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.about-text img {
    width: auto;
    height: 600px;
    margin-left: 10px;
    border-radius: 25px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.para-text{
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: -70px;
    background-color: transparent;
    box-shadow:0 0 10px rgb(35, 219, 226);
    
}

.about-align{
    margin-top: 80px;
    align-items: center;
}

/*------------------certificate-------------*/
#certificate{
    
    flex-wrap: wrap;
}
.certificate-list img{
    width: 300px;
    height: 300px;
}

.certificate-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,min-max(250px ,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.certificate-list div {
    background-color: #acdbe7;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    width: 400px;    
    color: #022534;
}

.certificate-list  :hover{
    cursor: pointer;
    transform: scale(1.1,1.1) ;
    transition-duration: 0.5s;
}

.certificate-learn{
    color: rgb(15, 19, 22);
    text-decoration: none;
}

.certificate-learn:hover{
    color: #094f6e;
    transition-duration: 0.5s;
    font-size: 22px;
}
.certificate-list div :hover{
    transform: none;
}
/*--------services-------------*/
#services{
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.services-list{
    margin-top: 20px;
    margin-left: 50px;
    background-color: #acdbe7;
    padding: 80px;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 18px;
    color: #022534;
    border-radius: 20px ;

}

.services-list i{
    font-size: 28px;
    
}

.services-list a {
    color: #022534;
    text-decoration: none;
}
.services-list a:hover{
    color: #054a5d;
    transition-duration: 0.5s;
    font-size: 22px;
}

.services-box :hover{
    background-color: rgb(66, 182, 182);
    transform: translateY(-20px);
    transition-duration: 0.8s;
}

.services-box h2:hover{
    transform: none;
}

/*-----------contact------------*/
.contact-left{
    flex-basis: 35%;

 }

 .contact-right{
    flex-basis: 60%;
 }

 .contact-left p {
    margin-top: 30px;
 }

 .contact-left p i {
    color: var(--c-second);
    margin-right: 20px;
    font-size: 25px;
 }
.mail{
    color: var(--c-second) !important;
    margin-right: 15px;
    font-size: 25px;
    text-decoration: none;

}

 .social-icons{
    margin-top: 30px;
 }

 .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
 }

 .social-icons a:hover{
    color: var(--c-second);
    transform:translateY(-5px);
    transition: 0.5s;
 }

 .btn.btn2{
    display: inline-block;
    background: var(--c-second);
    margin-top: 20px;
 }
 .btn.btn2:hover{
    border-radius: 15px;
    transition: 0.5s;
    background-color: #96c7d5;
 }

 .contect-right form{
    width: 100%;
 }

 form input , form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--c-second);
    padding: 15px;
    margin: 15px 0;
    color: var(--c-forth) ;
    font-size: 18px;
    border-radius: 6px;
 }

 form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
 }

 .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
 }

 .copyright i{
    color: #3cb8da;
 }

 #contact{
    margin-top: 50px;
    
 }