*{
    margin: 0;
    padding: 0;
    font-family: var(--c-base);
    box-sizing: border-box;
    
}

:root{
    --c-base:"poppins",san-serife;
    --c-primary:#022534;
    --c-second:#094f6e;
    --c-third:#96c7d5;
    --c-forth:#e4f5ff;

}

body{
    background-color: var(--c-primary);
    color: var(--c-forth);
}

.navbar  img{
    width: 45px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 20px;
    animation: logo 5s  0.5s infinite     ;
    
}

@keyframes logo{
    0%{
        transform:scale(0.5 ,0.5);
    }
    25%{
        transform: scale(1.1,1.1);
    }
    50%{
        transform: scale(0.8,0.8);
    }
    75%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(0.5,0.5);
    }
}

.navbar-img::after{
    transform: translateY(45deg);
    animation-duration: 0.5s;
}


.nav-text{
    font-size: 20px;
    color: var(--c-third) ;
    margin-left: 10px;
    
}

.nav-icon{
    color: aliceblue;
}


#navbar{
    z-index: 8;
    
}

#home{
    border-bottom: 1px solid black;
    background-color: var(--c-primary);   
    border-bottom-left-radius: 20px;
    padding: 1px;
    display:block;
    
    
}

.nav-text:hover{
    color: aliceblue ;
    transition: 1s ;
    transform: scale(1. ,1.);
    margin-left: 15px; 
    margin-right: 15px;
    background: transparent;
    box-shadow: 0 0 10px rgba(9, 243, 243, 0.2);
    border-radius: 20px;
    margin-top: 5px;
    
           
}

.navabar-text{
    text-align: center;
    align-items: end;
    margin-left: 10px;
    padding: 10px 10%;
}

/*-------Hero  setup---------*/

#hero{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.navbar-post{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.navbar-post img {
    width: 600px;
    margin-top: -70px;
    position: relative;
    display: block;
    height: 100%;
    border-radius: 15px;
    
}

.hero-title{
    font-family: var(--c-base);
    position: relative;
   top: 30%;
   left: 25%;
    
    text-align: center;
     
}

.hero-title span {
    color: var(--c-third);
}

.main-img{
    background: url(/img/backgroundplane.jpg);
}

.hero-title p {
    font-size: 25px;
}


.navbar-post img:hover {
    filter: drop-shadow(6px 6px 12px);
    transition: 0.8s;
    
  
}

.navbar-effect{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}